<%# <h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p> %>
<% if @categories.empty? %>
  <p>There are no Categories available.</p>
<% else %>
  <h1 class='title is-3' style='margin-top: 20px'>All Categories</h1>
  <% @categories.each do |category| %>
    <h2 class='subtitle is-3' style='margin-top: 20px'><%= category.name %></h2>
    <p><%= category.description %></p>
    <p>There are <%= category.products.count %> different <%= category.name %> that we sell in our store.</p>
    <p>To see all of our <%= category.name %> products. <%= link_to 'Click Here', category %></p>
  <% end %>
<% end %>