<%# <h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p> %>
<h2><%= @category.name %></h2>
<p>There are <%= @category.products.count %> different <%= @category.name %> that we sell in our store.</p>

<p><%= @category.name %> menu items.</p>
<% if @category.products.empty? %>
  <p>Sorry we are out of stock of any of our <%= @category.name %> products.</p>
<% else %>
    <%# to use this put back the percent sign where removed and delete the render to remove partials %>
    <%# <ul>
      < @category.products.each do  |product| >
        <li><= link_to product.name, product_path(product) ></li>
      < end >
    </ul> %>

  <%= render @category.products %>
<% end %>


