<div class='column'>
  <div class="card">
    <div class="card-content">
      <p class='title'>
        <% if show_link %>
          <%= link_to product.name, product %>
        <% else %>
          <%= product.name %>
        <% end %>
      </p>
      <p>Description: <%= product.description %></p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">Category: <%= link_to product.category.name, product.category %></p>
      <p class="card-footer-item">Price: <br>$<%= product.price.round(2) %></p>
      <p class="card-footer-item">Quantity: <br><%= product.quantity %></p>
    </footer>
  </div>
</div>