<!DOCTYPE html>
<html>
  <head>
    <title>Frank's Cafe online order</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>

  <body>
  <section class="section">
    <div class="container">
      <header>
        <h1 class="title is-1">Frank's Cafe</h1>
        <h2 class='subtitle is-4'>Enjoy some of the foods downtown Toronto has to offer!!</h2>
        <p>
          <%= link_to 'Home', root_path %> |
          <%= link_to 'Products', products_path %>
        </p>

      </header>
      <%= render partial: 'products/search'%>
      <%= yield %>
      <footer style='margin-top: 5%'>Copyright Francis Cruz for Frank's Cafe 2020</footer>
    </div>
  </section>

  </body>
</html>
